body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-image: url("../images/pexels-photo-12281955.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  min-height: 100px;
}

header h1 {
  margin: 0;
  padding-left: 20px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
}

.navButton {
  border: none;
  font-size: 1em;
  background-color: white;
  min-width: 150px;
  min-height: 100px;
  cursor: pointer;
  text-align: center;
}

.navButton:hover {
  background-color: rgb(226, 226, 226);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 10px;
  overflow-y: auto;
}

form {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 95%;
  max-width: 1000px;
  min-height: 100px;
  border-radius: 5px;
  overflow: hidden;
}

label {
  margin: 5px 0;
  width: 50%;
  text-align: left;
  font-size: 1.1rem;
}


input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="phone"],
select,
#availableSeats,
#ticketCost {
  margin: 5px 0;
  width: 50%;
  padding: 8px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  margin: 10px 0;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #50a1e4;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

button:hover {
  background-color: #1d8be6;
  cursor: pointer;
}

.passengerInfo-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

footer {
  display: flex;
  min-height: 50px;
  background-color: white;
  color: black;
  justify-content: center;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 15px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    padding-left: 0;
    padding-top: 10px;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .navButton {
    font-size: 14px;
    min-width: 120px;
    border: none;
    font-size: 16px;
    background-color: white;
    flex: 1;
    cursor: pointer;
    text-align: center;
    max-width: none;
    min-height: 0;
    height: 40px;
  }

  form {
    width: 100%;
    padding: 10px;
  }

  label {
    width: 100%;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  select,
  #availableSeats,
  #ticketCost {
    width: 100%;
  }

  button {
    width: 100%;
    padding: 10px;
  }

  .content {
    width: 95%;
  }

  footer {
    min-height: 50px;
    max-height: 50px;
  }
}
